<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphical Password Selection Interface</title>
</head>
<body>
    <div class="input section">
        <label for="textfield">Selected Image ID's (for debugging) :</label>
	    <input type="text" id="textfield" disabled>
    </div>

    <div id="grid">
        <!-- grid will be generated here -->
    </div>

    <script>
// script is added here for image grid generation and other important functionality

// In this javascript script we are making a function to generate clickable
// image grid with thier respective id's which will be used to track the
// users choices of images(by thier clicking) in order, then we encrypt the end result
// string to store in the database to later verify a user log-in using the user-id
// and the string of encrypted password associated with it
// Author: Krishna Moni Das

function image (link,id){ //function to create images as object with properties link and id
    this.link = link;
    this.id = id;
} 

// creation of image object with two properties - link and id
// thier properties are immutable to maintain security and robustness 

const image0 = new image("https://cdn-icons-png.flaticon.com/128/1559/1559618.png",5); 
const image1 = new image("https://cdn-icons-png.flaticon.com/128/3477/3477145.png",4); 
const image2 = new image("https://cdn-icons-png.flaticon.com/128/3477/3477085.png",34);
const image3 = new image("https://cdn-icons-png.flaticon.com/128/10158/10158370.png",7);
const image4 = new image("https://cdn-icons-png.flaticon.com/128/3020/3020048.png",45);
const image5 = new image("https://cdn-icons-png.flaticon.com/128/3477/3477085.png",23);
const image6 = new image("https://cdn-icons-png.flaticon.com/128/3477/3477109.png",56);
const image7 = new image("https://cdn-icons-png.flaticon.com/128/4574/4574146.png",45);
const image8 = new image("https://cdn-icons-png.flaticon.com/128/10075/10075734.png",68);
const image9 = new image("https://cdn-icons-png.flaticon.com/128/4589/4589558.png",98);
const image10 = new image("https://cdn-icons-png.flaticon.com/128/4589/4589626.png",90);

// images can be added manaully by the developer along with their properties

var clicks = 0; // to keep track of the amount of times the user has clicked in order to select the images
const clickAllowed = 8; // how many selection the user can trigger

var finalString = "";

var images = [image0,image1,image2,image3,image4,image5,image6,image7,image8,image9,image10];

images.sort(()=>Math.random() - 0.5); // shuffling the images everytime the user visits the websites

var imageGrid = document.getElementById("grid");
document.getElementById("textfield").value = null;

for(var i=0;i<images.length;i++){
    var img = document.createElement("img");
    img.src = images[i].link;
    img.id = images[i].id;
    img.addEventListener("click",function(){
        if(clicks < clickAllowed){
            document.getElementById("textfield").value += this.id + "";
            finalString = finalString.concat(this.id);
            clicks++;
        }
    });
    imageGrid.appendChild(img);
    
}
//console.log(finalString);

// Algorithm Implimentation,



</script>


    
</body>
</html>